.at-mentions {
  position: relative;
  font-size: 16px;
  background-color: #fff;
  border: 2px solid #f7f7f7;
  border-radius: 6px;
  transition: border 0.3s, background-color 0.3s;
  caret-color: #0d84ff;
  word-break: break-all;

  &:hover {
    border: 2px solid rgba(13, 132, 255, 0.6);
  }

  &:focus-within {
    background-color: #fff;
    border: 2px solid rgba(13, 132, 255, 0.6);
    outline: none;
  }

  &__editor {
    box-sizing: border-box;
    padding: 12px;
    line-height: 22px;
    border: none;
    //处理enter键换行生成新的div、破坏子节点结构的问题
    display: inline-block;
    white-space: pre-wrap;
    //去掉聚焦时的边框展示
    outline: none;
    width: 100%;
  }

  // 选人弹窗样式
  &__dialog {
    position: fixed;
    z-index: 10000;
    width: 300px;
    max-height: 250px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);

    .person-item {
      display: flex;
      align-items: center;
      height: 46px;
      padding: 8px 12px;
      box-sizing: border-box;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background-color: rgba(13, 132, 255, 0.1);
      }

      &--active {
        background-color: rgba(13, 132, 255, 0.3);
      }

      &__avatar {
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        margin-right: 15px;
        vertical-align: middle;
        border: 0.5px solid #ddd;
        border-radius: 50%;
        object-fit: cover;
      }

      &__name {
        font-size: 14px;
      }
    }
  }

  &__placeholder {
    position: absolute;
    color: rgba(0, 0, 0, 0.2);
    top: 12px;
    left: 12px;
    pointer-events: none;
  }
}
