.at-mentions-preview {
  font-size: 16px;
  background-color: #f7f7f7;
  border-radius: 6px;
  word-break: break-all;
  white-space: pre-wrap;
  box-sizing: border-box;
  padding: 12px;
  line-height: 22px;

  &__mention {
    color: #0d84ff;
    cursor: pointer;
  }

  .card-mask {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);

    &--hide {
      background: transparent;
      visibility: hidden;
    }

    .card-content {
      position: absolute;
      width: 80px;
      height: 180px;
      background: #fff;
      transition: all 0.15s;
      transform: scale(1, 1);
      transform-origin: 0 0;

      &--hide {
        transform: scale(0, 0);
        visibility: hidden;
      }
    }
  }
}
